/.idea
/node_modules
/public/hot
/public/storage
/public/vendor
/config/erd-generator.php
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/app/Providers/TelescopeServiceProvider.php
/bootstrap/cache/
